        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        li {
            margin: 0;
            padding: 10px 20px;
            background-color: #FF1493;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s;
            border-radius: 4px;
        }

        li:hover {
            background-color: #FF69B4;
        }

        li + li {
            margin-left: 5px; /* Espaçamento entre os itens */
        }
